{% extends 'base.html.twig' %}

{% block title %}Стать спонсором{% endblock %}

{% block text_image %}_organize{% endblock %}

{% block header_title %}Стать спонсором{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

	{% if form %}
		<h2>Описание партнерских пакетов и дополнительных возможностей</h2>

		<p>
			Спонсоры КРОС получают отличную возможность представить свою компанию и свои решения на крупнейшей конференции для операторов связи в России:<br/>
			- Целевая аудитория: более 700 участников<br/>
			- Интересная деловая программа<br/>
			- Выставка решений и оборудования: 2 шоу-рум<br/>
			- Размещение краткой информации о партнере в программе КРОС<br/>
			- Интернет аудитория nag.ru: регулярные e-mail рассылки и публикации по мероприятию среди постоянной аудитории портала nag.ru
		</p>

		<a class="btn btn-success" href="/uploads/cros-2019/CROS_Presentation_for_sponsors_rus.pdf">Скачать презентацию</a>

		<h2>Заполните форму</h2>

		{{ form_start(form) }}


        {{ form_row(form.company) }}
        {{ form_row(form.email) }}
        {{ form_row(form.mobile) }}
        {{ form_row(form.packet) }}
        {{ form_row(form.present) }}
        {{ form_row(form.recaptcha) }}


        {{ form_row(form.send) }}

		{{ form_end(form) }}

	{% endif %}

	{% if data %}
			<h2>Спасибо! Ваша заявка принята!</h2>
			<br/>

		<p>
			<strong>Компания:</strong> {{ data['company'] }}<br/>
			<strong>Email:</strong> {{ data['email'] }}<br/>
			<strong>Мобильный:</strong> {{ data['mobile'] }}<br/>
			<strong>Тип пакета:</strong> {{ data['packet'] }}<br/>
			<br/>
			<strong>Что будет представлено:</strong><br/>
			{{ data['present']|nl2br }}
<br/><br/>
			С уважением,<br/>
			Оргкомитет КРОС-2019<br/>
			E-mail: cros@nag.ru<br/>
			+7 (343) 379-98-38
		</p>
	{% endif %}

{% endblock %}


{% block javascripts %}{% endblock %}
