{% extends 'base.html.twig' %}

{% block title %}Стать докладчиком{% endblock %}

{% block text_image %}_organize{% endblock %}

{% block header_title %}Стать докладчиком{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}

	{% if form %}
		 <h2>Уважаемые коллеги!</h2>

		<p dir="ltr">
			Поддерживая традиции КРОС, мы серьезно относимся  к содержательной части конференции. Большинство тем докладов и "круглых столов" отбирается по результатам анкетирования участников и с учётом мнения наиболее авторитетных специалистов отрасли.
		<br/>
			Потенциальным докладчикам следует иметь в виду:
		</p>

		<ul>
			<li dir="ltr">
				<p dir="ltr">
					Доклад может быть вынесен для чтения и обсуждения на тематический "круглый стол", а то и стать основой для проведения отдельного "круглого стола".				</p>
			</li>
			<li dir="ltr">
				<p dir="ltr">
					Темы докладов принимаются в формате “Тема + тезисы”. Чем подробнее вы изложите свой замысел, тем выше вероятность того, что ваш доклад пройдёт утверждение программным комитетом. Длительность доклада не более 20 минут.
				</p>
			</li>
			<li dir="ltr">
				<p dir="ltr">
					Темы докладов принимаются до 17 марта 2019 года, включительно.
				</p>
			</li>
			<li dir="ltr">
				<p dir="ltr">
					Решение о включении доклада в деловую часть мероприятия будет принято до 1 апреля 2019 года.
				</p>
			</li>
		</ul>

		<p dir="ltr">Докладчики, чьё выступление в деловой части конференции будет подтверждено организаторами, обязаны в недельный срок предоставить презентациии и другие медиаматериалы, планируемые к использованию во время доклада.</p>

		<h2>Заполните форму</h2>

		{{ form_start(form) }}

        {{ form_row(form.speaker) }}
        {{ form_row(form.email) }}
        {{ form_row(form.mobile) }}
        {{ form_row(form.title) }}
        {{ form_row(form.theses) }}
        {{ form_row(form.files) }}
        {{ form_row(form.recaptcha) }}

        {{ form_row(form.send) }}

		{{ form_end(form) }}

	{% endif %}

	{% if data %}
			<h2>Спасибо! Ваша заявка принята!</h2>
			<br/>

		<p>
			<strong>Докладчик:</strong> {{ data['speaker'] }}<br/>
			<strong>Email:</strong> {{ data['email'] }}<br/>
			<strong>Мобильный:</strong> {{ data['mobile'] }}<br/>
			<br/>
			<strong>Тема доклада:</strong> {{ data['title'] }}<br/>
			<br/>
			<strong>Тезисы:</strong><br/>
            {{ data['theses']|nl2br }}
			<br/><br/>
			С уважением,<br/>
			Оргкомитет КРОС-2.0-18<br/>
			E-mail: cros@nag.ru<br/>
			+7 (343) 379-98-38
		</p>
	{% endif %}

{% endblock %}

