{% extends 'Emails/base.html.twig' %}
{% block title %}Добрый день,{% endblock %}

{% block message %}
    <p>
        Ваша Компания <b>{{ organization.name }}</b> зарегистрировала следующих участников на конференцию российских операторов связи КРОС-2.0-17:<br><br>
        {% set i = 1 %}
        {% set fullprice = 0 %}
        {% for user in organization.users %}
            <h4>Участник {{ i }}{% set i = i + 1 %}</h4>
            ФИО: {{ user.lastname }} {{ user.firstname }} {{ user.middlename }}<br>
            Ник: {{ user.nickname }}<br>
            Должность: {{ user.post }}<br>
            Телефон: {{ user.username }}<br>
            E-mail: {{ user.email }}<br>
            Номер автомобиля: {{ user.carnumber }}<br>
            {% set orgp = 0 %}
            Класс участия: {% for toa in user.utoas  %}{{ toa.apartament.apartament.title }} ({{ toa.apartament.apartament.price }}.р){% set orgp = toa.apartament.apartament.price %}{% endfor %}<br>
            {% set fullprice = fullprice + orgp %}
        {% endfor %}
        <h4>Сумма: {{ fullprice }}р.</h4>
        <h4>Реквизиты</h4>
        ИНН: {{ organization.inn }}<br>
        КПП: {{ organization.kpp }}<br><br>
        {{ organization.requisites|raw }}<br>
        <h4>Адрес:</h4>
        {{ organization.address|raw }}
        <h4>Комментарий:</h4>
        {{ organization.comment|raw }}
        <hr><br>
        В ближайшее время мы Вышлем Вам счет на оплату.<br><br>
        Изменить данные участников можно в личном кабинете: <a href="http://cros.nag.ru">cros.nag.ru</a><br><br>
        Более подробную информацию можно получить на официальном сайте конференции: <a href="http://cros.nag.ru">cros.nag.ru</a><br><br>
        Если произошла какая-либо ошибка, просим Вас сообщить об этом по адресу: <a href="mailto:cros@nag.ru">cros@nag.ru</a><br><br>
        Не забудьте присоединиться к нашим каналам Telegram:<br>
    <table>
        <tbody>
        <tr>
            <td>Официальный информационный канал КРОС-2.0-17</td>
            <td>Общение участников КРОС-2.0-17</td>
        </tr>
        <tr>
            <td>
                <a href="https://t.me/cros2017"><img src="http://cros.nag.ru/assets/images/croschannel.jpg" alt="Telegram-канал"></a>
            </td>
            <td>
                <a href="https://t.me/joinchat/AAAAAD8Ll_zQJjIrIv136Q"><img src="http://cros.nag.ru/assets/images/croschat.jpg" alt="Telegram-чат"></a>
            </td>
        </tr>
        </tbody>
    </table>
        {#Рекоммендуем Вам установить наше полезное приложение.
        <a href="#"><img src="" alt="Google Play"></a>
        <a href="#"><img src="" alt="iTunes"></a>#}
    </p>
{% endblock %}