{% extends 'Emails/base.html.twig' %}
{% block title %}Здравствуйте.{% endblock %}

{% block message %}

    <p>
        <b>ФИО:</b> {{ fio|raw }}
        <br/>
        <b>Компания:</b> {{ company|raw }}
        <br/>
        <b>Должность:</b> {{ position|raw }}
        <br/>
        <b>E-mail:</b> {{ email|raw }}
        <br/>
        <b>Телефон:</b> {{ mobile|raw }}
    </p>

{% endblock %}
