{% extends 'base.html.twig' %}

{% block title %}Конференция Российских Операторов Связи{% endblock %}

{% block header_title %}Программа{% endblock %}
{% block body %}
    {% if program is empty %}
        <h3>Нет данных</h3>
    {% else %}
        <style>
            #hall .nav-link.active {
                color: #fff;
                cursor: default;
                background-color: #70a1e6;
            }
            #hall .nav-link {
                color: #70a1e6;
            }
        </style>

        <div class="row">
            <div class="col-md-12">

                <ul class="nav nav-tabs"
                    data-btn-classes="btn btn-md btn-block u-btn-outline-primary"
                    data-tabs-mobile-type="slide-up-down"
                    role="tablist"
                    id="program">
                    {% set j = 1 %}
                    {% for date, halls in program %}
                        <li class="nav-item">
                            <a class="nav-link{% if j == 1 %} active{% endif %}"
                               data-toggle="tab"
                               role="tab"
                               href="#day-{{ j }}"
                               id="day-{{ j }}-tab"
                               aria-controls="day-{{ j }}"
                               aria-expanded="{% if j == 1 %}true{% else %}false{% endif %}">
                                <b>{{ date }}</b>
                            </a>
                        </li>
                        {% set j = j + 1 %}
                    {% endfor %}
                </ul>

                <div id="programContent" class="tab-content cs-pt-20">
                    {% set i = 1 %}
                    {% for date, halls in program %}
                        <div class="tab-pane fade{% if i == 1 %} show active{% endif %}" id="day-{{ i }}" role="tabpanel">

                            <nav class="nav nav-pills nav-justified" id="hall" role="tablist">
                                {% set g = 1 %}
                                {% for hall_name, times in halls %}
                                    <a class="nav-item nav-link{% if g == 1 %} active{% endif %}"
                                       data-toggle="pill" role="tab"
                                       href="#hall-{{ i }}{{ g }}"
                                       aria-controls="hall-{{ i }}{{ g }}"
                                       aria-selected="{% if g == 1 %}true{% else %}false{% endif %}"
                                    ><b>{{ hall_name }}</b></a>
                                    {% set g = g + 1 %}
                                {% endfor %}
                            </nav>

                            <br/>

                            <div class="tab-content" id="hallContent">
                                {% set g = 1 %}
                                {% for hall_name, times in halls %}
                                    <div class="tab-pane fade{% if g == 1 %} show active{% endif %}" id="hall-{{ i }}{{ g }}" role="tabpanel">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover u-table--v2 text-left cs-col-border-side-0">
                                                <tbody class="cs-font-size-11">
                                                    {% for time, lecture in times %}
                                                        <tr>
                                                            <th class="text-nowrap" scope="row">{{ time }}</th>
                                                            {% if lecture.speaker is empty %}
                                                                <td class="cs-bcs-blue cs-color-white d-flex justify-content-between">
                                                                    <div>
                                                                        {{ lecture.hall }}
                                                                    </div>
                                                                    <div class="cs-font-size-14 cs-line-height-1 py-1">
                                                                        <i class="fa fa-coffee"></i>
                                                                    </div>
                                                                </td>
                                                            {% else %}
                                                                <td>
                                                                    <div class="mb-2 font-italic font-weight-bold">{{ lecture.speaker }}</div>
                                                                    <strong>{{ lecture.title }}</strong><br/>
                                                                    {{ lecture.theses|nl2br }}
                                                                    <br/><br/>
                                                                </td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% set g = g + 1 %}
                                {% endfor %}
                            </div>
                        </div>
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/spoiler.js') }}"></script>
    <script>
        $(document).ready(function () {
            $.MainCore.components.B4Tabs.init('[role="tablist"]');
        });
        $(window).on('resize', function () {
            if ( $('.nav-item').hasClass('active') ) {
                $('.nav-item').removeClass('active');
            }
            setTimeout(function () {
                $.MainCore.components.B4Tabs.init('[role="tablist"]');
            }, 200);
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/spoiler.css') }}">
{% endblock %}
