{% extends 'admin.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Зарегистрированные пользователи</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% if users is empty %}
                <h3>Нет зарегистрированных пользователей</h3>
            {% else %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Компания</th>
                        <th>ФИО</th>
                        <th>Должность</th>
                        <th>Телефон</th>
                        <th>Другие контакты</th>
                        <th>Роли</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for user in users %}
                        <tr>
                            <td>{{ user.organization.name }}</td>
                            <td>{{ user.lastname }} {{ user.firstname }} {{ user.middlename }}</td>
                            <td>{{ user.post }}</td>
                            <td>+{{ user.username }}</td>
                            <td>
                                <p>E-mail: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                                <p>Telegram: <a href="https://telegram.me/{{ user.telegram }}">{{ user.telegram }}</a></p>
                            </td>
                            <td>
                                {% for role in user.roles %}
                                    {{ role|slice(5) }}
                                {% endfor %}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ path('admin-faq-edit', {'id': user.id }) }}" class="btn btn-default" role="button">
                                        <i class="fa fa-edit fa-fw"></i> Редактировать
                                    </a>
                                    <a href="{{ path('admin-faq-remove', {'id': user.id}) }}" class="btn btn-danger remove-faq" role="button">
                                        <i class="fa fa-remove fa-fw"></i> Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <h2>Роли</h2>
            SUPER_ADMIN - полные права<br>
            ADMIN - администратор сайта, имеет доступ к панели управления сайтом<br>
            MANAGER - менеджер компании НАГ, может просматривать список зарегистрированных по приглашению участников<br>
            ORG - представитель организации, имеет доступ к личному кабинету организации для регистрации сотрудников<br>
            USER - участник КРОС, имеет доступ только к основному сайту<br>
        </div>
        <div id="editor"></div>
    </div>
    <div id="remove-confirm" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Подтвердите удаление</h4>
                </div>
                <div class="modal-body">
                    <p>Вы точно хотите удалить вопрос?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-ok" data-dismiss="modal">Удалить</button>
                    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/admin.js') }}"></script>
    <script>
        var linkforemove = false;
        $('.remove-faq').on('click', function(e){
            e.preventDefault();
            linkforemove = $(this).attr('href');
            $('#remove-confirm').modal();
        });

        $('.btn-ok').on('click', function () {
            window.location = linkforemove;
        });

        $('.btn-cancel').on('click', function () {
            linkforemove = false;
        });
    </script>
{% endblock %}