<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Title -->
    <title>{% block title %}{% endblock %} {{ "now"|date("Y") }} - NAG.ru</title>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="shop.nag.ru">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/cros/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/cros/icon-awesome/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/cros/hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/cros/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/cros/slick-slider/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/lightbox.min.css') }}">
    {# <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"> #}
    <!-- CSS Template -->
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/css/custom.css?t=2018030202') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/css/bases.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/css/megamenu.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/css/light-blue.css') }}">
    <meta name="theme-color" content="#6ca0dc">
    <link rel="icon" sizes="192x192" href="{{ asset('temp/cros-logo_192px.png') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<main>
    <!-- Header -->
    <header id="js-header" class="u-header u-header--static u-header--floating"
            data-header-fix-moment-classes="cs-bg-white">
        <div class="container">
            <div class="u-header__section u-header__section--light cs-bg-white cs-transition-0_3"
                 data-header-fix-moment-exclude="cs-bg-white"
                 data-header-fix-moment-classes="cs-py-5">
                <nav class="navbar navbar-toggleable-md cs-py-0 cs-font-weight-300">
                    <!-- mx-auto -->
                    <div class="container">
                        <!-- Logo -->
                        <a href="{{ url('homepage') }}" class="navbar-brand u-header__logo">
                            <img class="u-header__logo-img u-header__logo-img--main d-block cs-width-80x" src="{{ asset('assets/cros2/img/logo-dark.png') }}" alt="CROS-2.0-18 Logo"
                                 data-header-fix-moment-exclude="d-block"
                                 data-header-fix-moment-classes="d-none">
                            <!-- Temporary fix -->
                            <img class="u-header__logo-img u-header__logo-img--main d-none cs-width-80x" src="{{ asset('assets/cros2/img/layer_height.png') }}" alt="CROS-2.0-18 Logo"
                                 data-header-fix-moment-exclude="d-none"
                                 data-header-fix-moment-classes="d-block">
                        </a>
                        <!-- End Logo -->
                        <div class="sub-menu collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
                            <ul id="js-scroll-nav" class="u-main-nav-v1 navbar-nav text-uppercase cs-font-weight-700 cs-font-size-11 cs-pt-20 cs-pt-0--lg ml-auto mr-lg-3">
                                <li class="nav-item cs-mr-15--lg cs-mb-7 cs-mb-0--lg d-lg-none d-xl-block">
                                    <a href="{{ url('homepage') }}" class="nav-link cs-py-5">Главная</a>
                                </li>
                                <li class="nav-item cs-mx-15--lg cs-mb-7 cs-mb-0--lg">
                                    <a href="{{ path('info', {'alias': 'targets'}) }}" class="nav-link cs-py-5">О Крос</a>
                                </li>
                                {#
                                <li class="nav-item cs-mx-15--lg cs-mb-7 cs-mb-0--lg">
                                    <a href="{{ path('info', {'alias': 'sponsors'}) }}" class="nav-link cs-py-5">Спонсоры</a>
                                </li>
                                #}
                                <li class="nav-item cs-has-sub-menu cs-mx-20--lg">
                                    <a href="#" class="nav-link cs-py-5" id="nav-link-1"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       aria-controls="nav-submenu-1"
                                    >Участие<span class="d-lg-none d-xl-inline"> в КРОС</span></a>
                                    <!-- Submenu -->
                                    <ul class="cs-sub-menu list-unstyled cs-mt-20 cs-mt-10--lcs--scrolling u-shadow-v18 cs-font-weight-700 cs-font-size-12" id="nav-submenu-1"
                                        aria-labelledby="nav-link-2">
                                        <li class="dropdown-item p-0"><a class="nav-link-2 py-3 px-5 rounded-0 d-block" href="{{ url('members') }}">Участники</a></li>
                                        <li class="dropdown-item p-0"><a class="nav-link-2 py-3 px-5 rounded-0 d-block" href="{{ url('price') }}">Стоимость участия</a></li>
                                        <li class="dropdown-item p-0"><a class="nav-link-2 py-3 px-5 rounded-0 d-block" href="{{ url('registration') }}">Регистрация</a></li>
                                        <li class="dropdown-item p-0"><a class="nav-link-2 py-3 px-5 rounded-0 d-block" href="{{ path('info', {'alias': 'organize'}) }}">Место проведения</a></li>
                                    </ul>
                                    <!-- End Submenu -->
                                <li class="nav-item cs-mx-15--lg cs-mb-7 cs-mb-0--lg">
                                    <a href="{{ url('faq') }}" class="nav-link cs-py-5">FAQ</a>
                                </li>
                                <li class="nav-item cs-mx-15--lg cs-mb-7 cs-mb-0--lg">
                                    <a href="{{ url('archive') }}" class="nav-link cs-py-5">Архив</a>
                                </li>
                                </li>
                            </ul>
                        </div>
                        <!-- End Navigation -->
                        <!-- Search -->
                        {% if not app.user %}
                            {{ render(controller('AppBundle:Security:login')) }}
                        {% endif %}
                        {% if is_granted('ROLE_ORG') %}
                            <div class="login-v1">
                                <a href="{{ url('registration-3') }}" class="cs-py-5 cs-font-size-11 cs-font-weight-700" style="background:#5c97bf;padding:5px;border-radius:20px;color:white;">
                                    &nbsp;<i class="fa fa-key"></i>&nbsp;&nbsp;ЛИЧНЫЙ КАБИНЕТ&nbsp;
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="login-v1">
                                <a href="{{ url('admin-history') }}" class="cs-py-5 cs-font-size-11 cs-font-weight-700" style="background:#5c97bf;padding:5px;border-radius:20px;color:white;">
                                    &nbsp;<i class="fa fa-key"></i>&nbsp;&nbsp;CMS&nbsp;
                                </a>
                            </div>
                        {% elseif is_granted('ROLE_MANAGER') %}
                            <div class="login-v1">
                                <a href="{{ url('admin-table') }}" class="cs-py-5 cs-font-size-11 cs-font-weight-700" style="background:#5c97bf;padding:5px;border-radius:20px;color:white;">
                                    &nbsp;<i class="fa fa-key"></i>&nbsp;&nbsp;CMS&nbsp;
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <style>
                                .logout-btn {
                                    margin-left: 10px;
                                }
                                .logout-btn a {
                                    background: #5c97bf;
                                    padding: 0px 6px;
                                    border-radius: 20px;
                                    color: white;
                                    white-space: nowrap;
                                }
                                .logout-btn a:hover {
                                    background: #e37886;
                                }
                            </style>
                            <div class="logout-btn">
                                <a title="Выход" href="{{ url('logout') }}" class="cs-py-5 cs-font-size-14 cs-font-weight-700">
                                    &nbsp;<i class="fa fa-sign-out"></i>
                                </a>
                            </div>
                        {% endif %}
                        <!-- End Search -->
                    </div>
                    <!-- Responsive Toggle Button  cs-mt-15 ml-auto mr-auto-->
                    <button class="navbar-toggler btn cs-line-height-1 cs-brd-none cs-pa-0 cs-pos-abs dropdown-menu-right cs-px-20 cs-py-20" type="button"
                            aria-label="Toggle navigation"
                            aria-expanded="false"
                            aria-controls="navBar"
                            data-toggle="collapse"
                            data-target="#navBar">
                     <span class="hamburger hamburger--slider">
                     <span class="hamburger-box">
                     <span class="hamburger-inner"></span>
                     </span>
                     </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                </nav>
            </div>
        </div>
        </div>
    </header>
    <!-- End Header -->
    <section class="cs-bcs-images cs-color-white cs-pos-rel cs-pt-50 cs-pb-30 cs-mb-50 cs-theme-bg-blue-dark-v2 cs-bg-img-layer-middle-bottom" style="background-image: url({{ asset('assets/cros2/img/blue_bg_middle.png') }});">
        <div class="container cs-flex-middle-item cs-pt-50">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="cs-color-white cs-font-weight-700 cs-font-size-40 mt-2 mb-5">
                        {% block header_title %}КРОС-2.0-18{% endblock %}
                    </h3>
                    <!--
                    <div class="d-block cs-color-white-opacity-0_8 cs-font-size-16 mb-4"><strong>Пример внутренней страницы</strong> - <br /> <span>Информация для участников</span></div>
                    -->
                </div>
                <div class="col-md-6 text-right align-middle">
                    {{ render(controller('AppBundle:Default:newcountdown')) }}
                    <a class="btn u-btn-green cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15" href="{{ url('registration') }}">Принять участие</a>
                    <a class="btn u-btn-darkblue cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15" href="{{ path('info', {'alias': 'become-sponsor'}) }}">Стать докладчиком</a>
                    <a class="btn u-btn-yellow cs-color-white cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15" href="{{ path('info', {'alias': 'become-speaker'}) }}">Стать спонсором</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Content -->
    <section class="container-fluid cs-mb-100">
        <div class="container">
            {#
            <div class="text-center cs-mx-50">
                <h1 class="text-uppercase cs-line-height-1 cs-font-weight-700 cs-font-size-23 cs-letter-spacincs-0 cs-color-header">
                    СТОИМОСТЬ УЧАСТИЯ
                </h1>
            </div>
            #}

            {% block body %}{% endblock %}
            {#
                        <div class="row cs-mb-100">

                            <div class="col-lg-7 cs-order-1 cs-order-2--lg cs-mb-60">
                                <form>
                                    <!-- Pricing -->
                                    <label class="u-check d-block cs-mb-20">
                                        <input class="hidden-xs-up cs-pos-abs cs-top-10 cs-right-10" name="plan_1" type="radio" checked>
                                        <div class="media d-block d-md-flex u-shadow-v18 cs-bg-primary--checked">
                                            <div class="d-md-flex align-self-center cs-pa-30">
                                                <div class="w-100">
                                                    <h3 class="cs-line-height-1 cs-font-weight-700 cs-font-size-23 cs-color-primary cs-color-white--checked mb-0">34000 <span>Руб.</span></h3>
                                                    <small class="cs-font-size-11 cs-theme-color-gray-dark-v1 cs-color-white--checked">за человека</small>
                                                </div>
                                            </div>
                                            <div class="media-body cs-py-25 cs-px-30 cs-brd-top--dashed cs-brd-top-none--md cs-brd-left--dashed--md cs-border-gray">
                                                <h4 class="h4 text-uppercase cs-font-weight-700 cs-font-size-14 cs-color-white--checked">ЭКОНОМ Twin</h4>
                                                <p class="cs-font-size-14 cs-color-white--checked mb-0">Проживание в номере категории Аппартамент (2 или 3 спальных комнаты).
                                                    Отдельная кухонная зона.
                                                    Общая зона туалет/ душ.
                                                    Двухместное размещение в комнате.
                                                </p>
                                            </div>
                                        </div>
                                    </label>
                                    <!-- End Pricing -->
                                    <!-- Pricing -->
                                    <label class="u-check d-block cs-mb-20">
                                        <input class="hidden-xs-up cs-pos-abs cs-top-10 cs-right-10" name="plan_1" type="radio">
                                        <div class="media d-block d-md-flex u-shadow-v18 cs-bg-primary--checked">
                                            <div class="d-md-flex align-self-center cs-pa-30">
                                                <div class="w-100">
                                                    <h3 class="cs-line-height-1 cs-font-weight-700 cs-font-size-23 cs-color-primary cs-color-white--checked mb-0">34000 <span>Руб.</span></h3>
                                                    <small class="cs-font-size-11 cs-theme-color-gray-dark-v1 cs-color-white--checked">за человека</small>
                                                </div>
                                            </div>
                                            <div class="media-body cs-py-25 cs-px-30 cs-brd-top--dashed cs-brd-top-none--md cs-brd-left--dashed--md cs-border-gray">
                                                <h4 class="h4 text-uppercase cs-font-weight-700 cs-font-size-14 cs-color-white--checked">ЭКОНОМ Single</h4>
                                                <p class="cs-font-size-14 cs-color-white--checked mb-0">Проживание в номере категории Аппартамент (2 или 3 спальных комнаты).
                                                    Отдельная кухонная зона.
                                                    Общая зона туалет/ душ.
                                                    Одноместное размещение в комнате.
                                                </p>
                                            </div>
                                        </div>
                                    </label>
                                    <!-- End Pricing -->
                                    <!-- Pricing -->
                                    <label class="u-check d-block cs-mb-20">
                                        <input class="hidden-xs-up cs-pos-abs cs-top-10 cs-right-10" name="plan_1" type="radio">
                                        <div class="media d-block d-md-flex u-shadow-v18 cs-bg-primary--checked">
                                            <div class="d-md-flex align-self-center cs-pa-30">
                                                <div class="w-100">
                                                    <h3 class="cs-line-height-1 cs-font-weight-700 cs-font-size-23 cs-color-primary cs-color-white--checked mb-0">59000 <span>Руб.</span></h3>
                                                    <small class="cs-font-size-11 cs-theme-color-gray-dark-v1 cs-color-white--checked">за человека</small>
                                                </div>
                                            </div>
                                            <div class="media-body cs-py-25 cs-px-30 cs-brd-top--dashed cs-brd-top-none--md cs-brd-left--dashed--md cs-border-gray">
                                                <h4 class="h4 text-uppercase cs-font-weight-700 cs-font-size-14 cs-color-white--checked">БИЗНЕС Single</h4>
                                                <p class="cs-font-size-14 cs-color-white--checked mb-0">Проживание в номере категории Полулюкс или Шале.
                                                    Одноместное размещение в комнате.
                                                    https://polyana1389.ru/rooms-and-villas/
                                                </p>
                                            </div>
                                        </div>
                                    </label>
                                    <!-- End Pricing -->
                                </form>
                            </div>
                            <div class="col-lg-5 cs-order-2 cs-order-2--lg">
                                <form>
                                    <div class="form-group cs-mb-20">
                                        <input id="firstName" class="form-control u-shadow-v18 cs-font-size-12 cs-theme-color-gray-dark-v3 cs-placeholder-inherit cs-brd-none rounded-0 cs-pa-20" name="firstName" type="text" placeholder="Ваше Имя">
                                    </div>
                                    <div class="form-group cs-mb-20">
                                        <input id="lastName" class="form-control u-shadow-v18 cs-font-size-12 cs-theme-color-gray-dark-v3 cs-placeholder-inherit cs-brd-none rounded-0 cs-pa-20" name="lastName" type="text" placeholder="Фамилия">
                                    </div>
                                    <div class="form-group cs-mb-20">
                                        <input id="email" class="form-control u-shadow-v18 cs-font-size-12 cs-theme-color-gray-dark-v3 cs-placeholder-inherit cs-brd-none rounded-0 cs-pa-20" name="email" type="text" placeholder="E-mail">
                                    </div>
                                    <div class="form-group cs-mb-20">
                                        <input id="address" class="form-control u-shadow-v18 cs-font-size-12 cs-theme-color-gray-dark-v3 cs-placeholder-inherit cs-brd-none rounded-0 cs-pa-20" name="address" type="text" placeholder="Адрес регистрации">
                                    </div>
                                    <div class="form-group cs-mb-20">
                                        <textarea id="message" class="form-control u-shadow-v18 cs-font-size-12 cs-theme-color-gray-dark-v3 cs-placeholder-inherit cs-brd-none rounded-0 cs-pa-20" name="message" rows="6" placeholder="Выбраный план: БИЗНЕС SINGLE"></textarea>
                                    </div>
                                    <button class="btn btn-md btn-block u-btn-green cs-color-white s-color-white--hover cs-bg-primary--hover text-uppercase cs-font-weight-700 cs-font-size-11 rounded-0 cs-py-17 cs-px-20" type="submit">Отправить заявку</button>
                                </form>
                            </div>
            </div>
        #}
        </div>
    </section>
    <!-- End Section Content -->
    <!-- Footer -->
    {% include 'cros2/misc/_sponsors.html.twig' %}
    {% include 'cros2/misc/footer.html.twig' %}
    <!-- End Footer -->
    <a class="js-go-to u-go-to-v1" href="#"
       data-type="fixed"
       data-position='{
            "bottom": 15,
            "right": 15
            }'
       data-offset-top="400"
       data-compensation="#js-header"
       data-show-effect="zoomIn">
        <i class="fa fa-angle-up"></i>
    </a>
</main>
<!-- JS Global Compulsory -->
<script src="{{ asset('assets/cros2/assets/cros/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/cros/jquery-migrate/jquery-migrate.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/cros/jquery.easing/js/jquery.easing.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/cros/tether/tether.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/cros/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/cros/jquery.countdown.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/cros/slick-slider/slick.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/core.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/tabs_mobile.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/header.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/hamburgers.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/countdown.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/go-to.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/carousel.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/megamenu.min.js') }}"></script>
{% block javascripts %}{% endblock %}
<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // init of tabs
        $.MainCore.components.B4Tabs.init('[role="tablist"]');
        // init of carousel
        $.MainCore.components.SCCarousel.init('.js-carousel');
        $('#carouselCus1').slick('setOption', 'responsive', [{
            breakpoint: 768,
            settings: {
                slidesToShow: 2
            }
        }], true);
    });
    $(window).on('load', function () {
        handleLogin();
        // Search Box (Header)
        function handleLogin() {
            jQuery('.login-link').on("click", function () {
                if(jQuery('.login-btn').hasClass('fa-key')){
                    jQuery('.login-open').fadeIn(500);
                    jQuery('.login-btn').removeClass('fa-key');
                    jQuery('.login-btn').addClass('fa-times');
                } else {
                    jQuery('.login-open').fadeOut(500);
                    jQuery('.login-btn').addClass('fa-key');
                    jQuery('.login-btn').removeClass('fa-times');
                }
            });
        }
        //microfix for to navbar
        $(".navbar-toggler").on('click', function () {
            if ($("#navBar").hasClass("show")) {
                $("#navBar").removeClass("show");
            } else {
                $("#navBar").addClass("show");
            }
        });
        // init of countdowns
        var countdowns = $.MainCore.components.HSCountdown.init('.js-countdown', {
            yearsElSelector: '.js-cd-years',
            monthElSelector: '.js-cd-month',
            daysElSelector: '.js-cd-days',
            hoursElSelector: '.js-cd-hours',
            minutesElSelector: '.js-cd-minutes',
            secondsElSelector: '.js-cd-seconds'
        });
        // init of header
        $.MainCore.components.HSHeader.init($('#js-header'));
        $.MainCore.helpers.HSHamburgers.init('.hamburger');

        // init of go to section
        $.MainCore.components.HSGoTo.init('.js-go-to');
        // init of  component
        $('.sub-menu').SubMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });
    });
    $(window).on('resize', function () {
        if ( $('.nav-item').hasClass('active') ) {
            $('.nav-item').removeClass('active');
        }
        setTimeout(function () {
            $.MainCore.components.B4Tabs.init('[role="tablist"]');
        }, 200);
    });
</script>
</body>
</html>