{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Рассылка</h1>
    <ul class="list-group">
    {% for mail in mails %}
        <li class="list-group-item">{% if mail.sended %}<strong>Отправлено</strong> <a class="btn btn-default" href="{{ path('admin-mailing-view', {'id': mail.id}) }}"><i class="fa fa-eye fa-fw"></i></a>{% else %}<a class="btn btn-default" href="{{ path('admin-mailing-view', {'id': mail.id}) }}"><i class="fa fa-edit fa-fw"></i></a>{% endif %} {{ mail.subject }}</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/admin.js') }}"></script>
    <script>
    </script>
{% endblock %}