{% extends 'door.html.twig' %}

{% block title %}Конференция Российских Операторов Связи{% endblock %}

{% block body %}
    <img class="logo" src="{{ asset('assets/images/logo_cros.png') }}" alt="Конференция Российских Операторов Связи">
    <span class="logo-dates">{{ sday }}-{{ eday }} {{ month|upper }} {{ year }}</span>
    <script>
        $('.logo-dates').circleType({radius: 101, dir:-1});
    </script>
    <div class="menu">
        <div class="elements">
            <a class="circle" href="{{ url('registration') }}">
                <img src="{{ asset('assets/images/registration.png') }}" alt="Регистрация">
                <span class="menu_text">РЕГИСТРАЦИЯ</span>
            </a>
            <a class="circle" href="{{ url('archive') }}">
                <img src="{{ asset('assets/images/archive.png') }}" alt="Архив">
                <span class="menu_text">АРХИВ</span>
            </a>
            <a class="circle" href="{{ url('faq') }}">
                <img src="{{ asset('assets/images/faq.png') }}" alt="FAQ">
                <span class="menu_text">FAQ</span>
            </a>
            <a class="circle" href="{{ url('program') }}">
                <img src="{{ asset('assets/images/program.png') }}" alt="Программа">
                <span class="menu_text">ПРОГРАММА</span>
            </a>
            <a class="circle" href="http://academy.nag.ru">
                <img src="{{ asset('assets/images/menu_academy.png') }}" alt="Академия НАГ">
                <span class="menu_text twostr">АКАДЕМИЯ<br>НАГ</span>
            </a>
            <a class="circle" href="{{ url('price') }}">
                <img src="{{ asset('assets/images/price.png') }}" alt="Стоимость участия">
                <span class="menu_text twostr">СТОИМОСТЬ<br>УЧАСТИЯ</span>
            </a>
            <a class="circle" href="{{ path('info', {'alias': 'targets'}) }}">
                <img src="{{ asset('assets/images/info_targets.png') }}" alt="Цели и задачи">
                <span class="menu_text twostr">ЦЕЛИ&nbsp;И&nbsp;ЗАДАЧИ</span>
            </a>
            <a class="circle" href="{{ path('info', {'alias': 'place'}) }}">
                <img src="{{ asset('assets/images/info_place.png') }}" alt="Место проведения">
                <span class="menu_text twostr">МЕСТО<br>ПРОВЕДЕНИЯ</span>
            </a>
            <a class="circle" href="{{ path('info', {'alias': 'transfer'}) }}">
                <img src="{{ asset('assets/images/info_transfer.png') }}" alt="Доставка участников">
                <span class="menu_text twostr">ДОСТАВКА<br>УЧАСТНИКОВ</span>
            </a>
            <a class="circle" href="{{ path('info', {'alias': 'terms'}) }}">
                <img src="{{ asset('assets/images/menu_terms.png') }}" alt="Условия для докладчиков">
                <span class="menu_text twostr">УСЛОВИЯ&nbsp;ДЛЯ<br>ДОКЛАДЧИКОВ</span>
            </a>
            <a class="circle" href="{{ url('members') }}">
                <img src="{{ asset('assets/images/members.png') }}" alt="Участники">
                <span class="menu_text">УЧАСТНИКИ</span>
            </a>
            <a class="circle" href="http://forum.nag.ru/forum/index.php?showtopic=125262">
                <img src="{{ asset('assets/images/menu_forum.png') }}" alt="Форум">
                <span class="menu_text">ФОРУМ</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
