{% extends theme_template %}

{% block title %}Конференция Российских Операторов Связи{% endblock %}

{% block header_title %}Программа{% endblock %}
{% block body %}
    {% if append_text is not empty %}
        <p>{{ append_text.text|raw }}</p>
    {% endif %}
    {% if programs is empty %}
        <h3>Нет данных</h3>
    {% else %}
        <ul class="nav nav-tabs">
            {% set first = 1 %}
            {% for day in days %}
                <li {% if first == 1 %}class="active"{% set first = 0 %}{% endif %}><a data-toggle="tab" href="#date{{ day }}">{{ day }} {{ month }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% set first = 1 %}
            {% set newtab = 0 %}
            {% for program in programs %}
                {% if newtab != program.date %}
                    {% if newtab != 0 %}
                        </table>
                        </div>
                    {% endif %}
                    {% set newtab = program.date %}
                    <div id="date{{ newtab }}" class="tab-pane fade {% if first == 1 %}in active{% set first = 0 %}{% endif %}">
                    <table class="table">
                    <thead>
                        <tr><th>Время</th><th>Событие</th></tr>
                    </thead>
                {% endif %}
                <tr>
                    <td rowspan="2"><h4>{{ program.start|date('H:i') }}&nbsp;-&nbsp;{{ program.end|date('H:i') }}</h4></td>
                    <td><h4>{{ program.title }}</h4></td>
                </tr>
                <tr>
                    <td>{{ program.description|raw }}</td>
                </tr>
            {% endfor %}
            </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/spoiler.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/spoiler.css') }}">
{% endblock %}
