{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Таблицы</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Общая</th>
                <th>По номерам</th>
                <th>По корпусам</th>
                <th>По должностям</th>
                <th>Женщины</th>
                <th>Для охраны</th>
                <th>Для отеля</th>
            </tr>
        </thead>
        <tbody>
            {#<tr>
                <td>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'general'}) }}" class="btn btn-default"><i class="fa fa-download fa-fw"></i> Скачать</a>
                </td>
                <td>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'apartament'}) }}" class="btn btn-default disabled"><i class="fa fa-download fa-fw"></i> Скачать</a>
                </td>
                <td>

                </td>
                <td>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'cros'}) }}" class="btn btn-default disabled"><i class="fa fa-download fa-fw"></i> Скачать</a>
                </td>
                <td>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'security'}) }}" class="btn btn-default disabled"><i class="fa fa-download fa-fw"></i> Скачать</a>
                </td>
                <td>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'hotel'}) }}" class="btn btn-default disabled"><i class="fa fa-download fa-fw"></i> Скачать</a>
                </td>
            </tr>#}
            <tr>
                <td>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'general'}) }}?print" class="btn btn-default"><i class="fa fa-print fa-fw"></i> Напечатать</a><br>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'general'}) }}?print&woinvoice" class="btn btn-default"><i class="fa fa-print fa-fw"></i> Напечтать без выставленных счетов</a><br>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'general'}) }}?print&wopaid" class="btn btn-default"><i class="fa fa-print fa-fw"></i> Напечтать без оплаты</a><br>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'general'}) }}?print&gupandorkk" class="btn btn-default"><i class="fa fa-print fa-fw"></i> Напечатать ОРКК и ГУП</a><br>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'forexcel'}) }}?print" class="btn btn-default"><i class="fa fa-print fa-fw"></i> Участники</a>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'forexcel'}) }}" class="btn btn-info"><i class="fa fa-print fa-fw"></i> Скачать</a><br>
                </td>
                <td>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'apartament'}) }}?print" class="btn btn-default"><i class="fa fa-print fa-fw"></i> Напечатать</a>
                </td>
                <td>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'corpus'}) }}?print" class="btn btn-default"><i class="fa fa-print fa-fw"></i> Напечатать</a>
                </td>
                <td>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'post'}) }}?print" class="btn btn-default"><i class="fa fa-print fa-fw"></i> Напечатать</a>
                </td>
                <td>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'woman'}) }}?print" class="btn btn-default"><i class="fa fa-print fa-fw"></i> Напечатать</a>
                </td>
                <td>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'security'}) }}?print" class="btn btn-default"><i class="fa fa-print fa-fw"></i> Напечатать</a>
                    <br/>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'security'}) }}" class="btn btn-info"><i class="fa fa-print fa-fw"></i> Скачать</a>
                </td>
                <td>
                    <a href="{{ path('download', {'format': 'csv', 'filename': 'hotel'}) }}?print" class="btn btn-default"><i class="fa fa-print fa-fw"></i> Напечатать</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}