{% extends 'base.html.twig' %}


{% block title %}Hello !{% endblock %}

{% form_theme form _self %}

{% use 'form_div_layout.html.twig' %}
{% block form_widget_compound %}
    <h1>form_widget</h1>
    {{ parent() }}
    <h1>form_widget</h1>

{% endblock form_widget_compound %}


{% block body %}



    {#{{ form(form) }}#}
    {{ form_start(form) }}
    {# ... #}

    {# store the prototype on the data-prototype attribute #}
    <ul id="email-fields-list"
        data-prototype="{{ form_widget(form.member.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}">
        {% for memberField in form.member %}
            <li>
                {{ form_errors(memberField) }}
                {{ form_widget(memberField) }}
            </li>
        {% endfor %}
    </ul>

    <button type="button"
            class="add-another-collection-widget"
            data-list="#email-fields-list">Add another member</button>

    {# ... #}
    {{ form_end(form) }}

{% endblock %}
