{% extends 'base.html.twig' %}


{% block title %}Hello !{% endblock %}

{% block body %}

    {{ dump(form) }}
{{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">{{- form_row(form.conference) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{- form_row(form.organization.name) -}}</div>
        <div class="col-md-3">{{- form_row(form.organization.city) -}}</div>
        <div class="col-md-3">{{- form_row(form.organization.logo) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{- form_row(form.organization.address) -}}</div>
        <div class="col-md-3">{{- form_row(form.organization.inn) -}}</div>
        <div class="col-md-3">{{- form_row(form.organization.kpp) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{- form_row(form.organization.requisites) -}}</div>
        <div class="col-md-6">{{- form_row(form.notes,{'attr':{'rows':8}}) -}}</div>
    </div>

    {#{{ dump(form.organization.users) }}#}
{% set formConferenceMembers=form.ConferenceMembers.vars.prototype %}
{% set form2=formConferenceMembers.user %}
{% set member_prototype %}
    <div class="row">
        <div class="col-md-3">{{- form_row(form2.firstName) -}}</div>
        <div class="col-md-3">{{- form_row(form2.lastName) -}}</div>
        <div class="col-md-3">{{- form_row(form2.middleName) -}}</div>
        <div class="col-md-3">{{- form_row(form2.sex) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{- form_row(form2.phone) -}}</div>
        <div class="col-md-3">{{- form_row(form2.email) -}}</div>
        <div class="col-md-3">{{- form_row(form2.post) -}}</div>
        <div class="col-md-3">{{- form_row(form2.representative) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{- form_row(formConferenceMembers.arrival) -}}</div>
        <div class="col-md-3">{{- form_row(formConferenceMembers.leaving) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{- form_row(formConferenceMembers.RoomType) -}}</div>
        <div class="col-md-3">{{- form_row(formConferenceMembers.carNumber) -}}</div>
        <div class="col-md-3">{{- form_row(formConferenceMembers.neighbourhood) -}}</div>
        <div class="col-md-3"><button
            type="button"
            class="btn-danger remove-collection-widget"
            data-list="#members-fields-list"

        >Удалить
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div style="width: 100%; text-align: center;">Информация о классе участия:</div>
        <div style="width: 100%; text-align: center;">Класс учачтия не выбран</div>
    </div>
{% endset %}
<textarea cols="100" rows="8">
id     name    inn kpp
25	Курьер Флюс	4502013089	450201001 [finish]
13	НАГ	123	477
18	Локал s	4401161027	440101001 [finish]

</textarea>

{#{% set form_trash %}#}
    {#<h3>{{- form_row(form.organization.users) -}}</h3>#}
{#{% endset %}#}
    <div id="members-fields-list"
         data-prototype="{{ member_prototype|e }}"
         data-widget-tags="data-widget-tags-{{ '<div style="padding-left: 10px; border-left: solid 5px #87d37b; margin:20px 0 20px"></div>'|e }}"
         >
{% for item in form.ConferenceMembers %}
<div style="padding-left: 10px; border-left: solid 5px #87d37b; margin:20px 0 20px">
    <div class="row">
        <div class="col-md-3">{{- form_row(item.user.firstName) -}}</div>
        <div class="col-md-3">{{- form_row(item.user.lastName) -}}</div>
        <div class="col-md-3">{{- form_row(item.user.middleName) -}}</div>
        <div class="col-md-3">{{- form_row(item.user.sex) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{- form_row(item.user.phone) -}}</div>
        <div class="col-md-3">{{- form_row(item.user.email) -}}</div>
        <div class="col-md-3">{{- form_row(item.user.post) -}}</div>
        <div class="col-md-3">{{- form_row(item.user.representative) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{- form_row(item.arrival) -}}</div>
        <div class="col-md-3">{{- form_row(item.leaving) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{- form_row(item.RoomType) -}}</div>
        <div class="col-md-3">{{- form_row(item.carNumber) -}}</div>
        <div class="col-md-3">{{- form_row(item.neighbourhood) -}}</div>
        <div class="col-md-3"><button
                    type="button"
                    class="btn-danger remove-collection-widget"
                    data-list="#members-fields-list"

            >Удалить
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div style="width: 100%; text-align: center;">Информация о классе участия:</div>
        <div style="width: 100%; text-align: center;">Класс учачтия не выбран</div>
    </div>
</div>
{% endfor %}
    </div>
    <button
        type="button"
        class="add-another-collection-widget btn u-btn-green cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15"
        data-list="#members-fields-list"
        >
        Добавить участников</button>
    {{ form_row(form._token) }}

    <div class="row">
        <div style="width: 100%; text-align: right;">
            {{ form_row(form.save) }}
        </div>
    </div>


    {# store the prototype on the data-prototype attribute #}


    {# ... #}
    {{ form_end(form) }}

{% endblock %}
