{% extends 'base.html.twig' %}


{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .debug:before{
        content: "begin debug"
    }
.debug {
    background-color: rgba(120, 210, 94, 0.47);
}
</style>

<div class="roomTypes debug" style="display: none">
    <input type="hidden" class="conf_id" value="{{ Conference.id }}"/>
    <div id="roomType_">
        Класс участия не выбран
    </div>
{% for roomType in RoomTypes  %}
<div id="roomType_{{ roomType.id }}">
    Класс участия: <b>{{ roomType.participationClass.title }}</b><br />
    Тип проживания: <b>{{ roomType.title }}</b><br />
    Стоимость:  <b>{{ roomType.cost }}</b><br />
    Общее количство мест: <b>{{ roomType.maxPlaces }}</b><br />
    <h4>Описание:</h4>
    {{ roomType.description|raw }}
</div>
{% endfor %}
</div>

    {#{{ dump(form) }}#}
{{ form_start(form) }}
    <div class="row debug">
        <div class="col-md-12">{{- form_row(form.conference) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{- form_row(form.organization.name) -}}</div>
        <div class="col-md-3">{{- form_row(form.organization.city) -}}</div>
        <div class="col-md-3">{{- form_row(form.organization.newlogo) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{- form_row(form.organization.address) -}}</div>
        <div class="col-md-3">{{- form_row(form.organization.inn) -}}</div>
        <div class="col-md-3">{{- form_row(form.organization.kpp) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{- form_row(form.organization.requisites) -}}</div>
        <div class="col-md-6">{{- form_row(form.notes,{'attr':{'rows':8}}) -}}</div>
    </div>

    {#{{ dump(form.organization.users) }}#}
{% set formConferenceMembers=form.ConferenceMembers.vars.prototype %}
{% set form2=formConferenceMembers.user %}
{% set member_prototype %}
<div class="conference-member"
     data-start="{{ Conference.eventStart|date("Y-m-d") }}'
     data-end="{{ Conference.eventFinish|date("Y-m-d") }}'
     >
    <div class="row">
        <div class="col-md-3">{{- form_row(form2.firstName) -}}</div>
        <div class="col-md-3">{{- form_row(form2.lastName) -}}</div>
        <div class="col-md-3">{{- form_row(form2.middleName) -}}</div>
        <div class="col-md-3">{{- form_row(form2.sex) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{- form_row(form2.phone) -}}</div>
        <div class="col-md-3">{{- form_row(form2.email) -}}</div>
        <div class="col-md-3">{{- form_row(form2.post) -}}</div>
        <div class="col-md-3">{{- form_row(form2.representative) -}}</div>
    </div>
    <div class="row">
        {% set start %}{{ Conference.eventStart|date("Y-m-d") }}T12:00{% endset %}
        {% set end %}{{ Conference.eventFinish|date("Y-m-d") }}T12:00{% endset %}
        <div class="col-md-3">{{- form_row(formConferenceMembers.arrival,{'value':start}) -}}</div>
        <div class="col-md-3">{{- form_row(formConferenceMembers.leaving,{'value':end }) -}}</div>
        <div class="col-md-3">{{- form_row(formConferenceMembers.carNumber) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{- form_row(formConferenceMembers.RoomType) -}}</div>
        <div class="col-md-3">{{- form_row(formConferenceMembers.neighbourhood) -}}</div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2"><button
                    type="button"
                    class="btn btn-danger remove-collection-widget cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15"
            ><i class="fa fa-trash"></i> Удалить
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Информация о классе участия:</h3>
            <div class="roomTypeInfo"></div>
        </div>
    </div>
</div>
{% endset %}

<textarea cols="100" rows="8" class="debug">
id     name    inn kpp
25	Курьер Флюс	4502013089	450201001 [finish]
13	НАГ	123	477
18	Локал s	4401161027	440101001 [finish]

</textarea>

{#{% set form_trash %}#}
    {#<h3>{{- form_row(form.organization.users) -}}</h3>#}
{#{% endset %}#}
    <div id="members-fields-list"
         data-prototype="{{ member_prototype|e }}"
         data-LimitUsersByOrg="{{ LimitUsersByOrg }}"
         data-widget-tags="{{ '<div style="padding-left: 10px; border-left: solid 5px #87d37b; margin:20px 0 20px"></div>'|e }}"
         >

{% set hide = 1 %}
{% for item in form.ConferenceMembers %}
{% set hide = 0 %}
<div data-num="{{ loop.index0 }}" class="conference-member" style="padding-left: 10px; border-left: solid 5px #87d37b; margin:20px 0 20px">
    <div class="row">
        <div class="col-md-3">{{- form_row(item.user.firstName) -}}</div>
        <div class="col-md-3">{{- form_row(item.user.lastName) -}}</div>
        <div class="col-md-3">{{- form_row(item.user.middleName) -}}</div>
        <div class="col-md-3">{{- form_row(item.user.sex) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{- form_row(item.user.phone) -}}</div>
        <div class="col-md-3">{{- form_row(item.user.email) -}}</div>
        <div class="col-md-3">{{- form_row(item.user.post) -}}</div>
        <div class="col-md-3" style="padding-top: 37px">{{- form_row(item.user.representative) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{- form_row(item.arrival) -}}</div>
        <div class="col-md-3">{{- form_row(item.leaving) -}}</div>
        <div class="col-md-3">{{- form_row(item.carNumber) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{- form_row(item.RoomType) -}}</div>
        <div class="col-md-3">{{- form_row(item.neighbourhood) -}}</div>
    </div>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2"><button
                    type="button"
                    class="btn btn-danger remove-collection-widget cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15"
            ><i class="fa fa-trash"></i> Удалить
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Информация о классе участия:</h3>
            <div class="roomTypeInfo"></div>
        </div>
    </div>
</div>
{% endfor %}
    </div>
    {{ form_row(form._token) }}

    {#<div class="row">#}
        {#<div style="width: 100%; text-align: right;">#}
            {#{{ form_row(form.save) }}#}
        {#</div>#}
    {#</div>#}


    {# store the prototype on the data-prototype attribute #}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Подтверждение завершения регистрации</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">
                    <p>После завершения регистрации внесение изменений будет возможно только через администрацию КРОС</p>
                    <p>Вы действительно хотите завершить регистрацию?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-default cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15 btn" data-dismiss="modal">
                            Отмена
                        </button>
                    </div>
                    {{ form_row(form.save) }}
                </div>
            </div>
        </div>
    </div>

    {#<a href="#" data-href="/delete.php?id=23" data-toggle="modal" data-target="#confirm-delete">Delete record #23</a><br>#}


    {#<button data-toggle="modal" data-target="#confirm-delete" type="submit" id="conference_organization_form_save" name="conference_organization_form[save]" class="reg-save u-btn-darkblue cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15 btn">#}
        {#Завершить регистрацию#}
    {#</button>#}

    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
        });
    </script>
{% set form_trash %}
    {{ form_row(form.ConferenceMembers) }}
    {#<h3>{{- form_row(form.organization.users) -}}</h3>#}
{% endset %}
    {# ... #}
    {{ form_end(form) }}
    <button
            type="button"
            class="add-another-collection-widget btn u-btn-green cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15"
            data-list="#members-fields-list"
    >
        Добавить участников</button>

    <span id="end-red" style="{% if hide %}display: none{%  endif %}">
        <button class="btn u-btn-darkblue cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15 btn" data-href="/delete.php?id=54" data-toggle="modal" data-target="#confirm-delete">
            Завершить регистрацию
        </button>
    </span>

{% endblock %}
