<table width="1000px" height="500px" cellspacing="0" cellpadding="0" border="0"
       style="font-family: arial; background-position: bottom; width: 1000px; height: 500px; border-collapse:collapse; border-spacing: 0; background: url('https://cros.nag.ru/temp/bg2018.jpg') repeat-y;">
    <tr><td colspan="3" height="50px" style="height: 50px;"></td></tr>
    <tr>
        <td width="40px"></td>
        <td width="920px">
            <table width="820px" cellspacing="0" cellpadding="0" border="0"
                   style="width: 820px; margin: 0 auto; border-collapse:collapse; border-spacing: 0; background-color: rgba(255,255,255,0.87);">
                <tr>
                    <td width="20px" style="width: 20px;">
                    </td>
                    <td style="padding: 10px 0;" colspan="2">
                        <h1>{% block title %}{% endblock %}</h1>
                    </td>
                </tr>
                <tr>
                    <td width="20px"
                        style="text-align: center; padding: 0 20px; width: 20px; vertical-align: top;" rowspan="2">
                    </td>
                    <td width="800px" style="width: 500px; padding-right: 20px; max-width: 500px; word-wrap: break-word; font-size: 16px;" colspan="2">
                        Участник
                        <b>{{ data.user.lastName|default('') }} {{ data.user.firstName|default('') }} {{ data.user.middleName|default('') }}</b>
                        от компании<br />
                        <b>{{ data.organization.name|default('') }}</b>
                        <h5>Разместил вопрос:</h5>
                        <p>{{ data.comment }}</p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr><td colspan="3" height="25px" style="height: 25px;"></td></tr>
            </table>
        </td>
        <td width="40px"></td>
    </tr>
    <tr><td colspan="3" height="50px" style="height: 50px;"></td></tr>
</table>