{% extends 'base.html.twig' %}


{% block title %}Личный кабинет{% endblock %}

{% block body %}
<div class="container">
    <h3>Информация о регистрации</h3>
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Название</th>
            <td>{{- ConferenceOrganization.organization.name -}}</td>
            <th scope="row">Город</th>
            <td>{{- ConferenceOrganization.organization.city -}}</td>
        </tr>
        <tr>
            <th scope="row">ИНН</th>
            <td>{{- ConferenceOrganization.organization.inn -}}</td>
            <th scope="row">КПП</th>
            <td>{{- ConferenceOrganization.organization.kpp -}}</td>
        </tr>
        <tr>
            <th scope="row">Адрес</th>
            <td>{{- ConferenceOrganization.organization.address -}}</td>
            <th scope="row">Реквизиты</th>
            <td>{{- ConferenceOrganization.organization.requisites|nl2br -}}</td>
        </tr>
        </tbody>
    </table>
    <h3>Информация об участниках</h3>
<div class="accordion" id="accordion" role="tablist">
{% for key,member in ConferenceOrganization.conferenceMembers %}
            <div class="card cs-mb-10">
                <div class="card-header" role="tab" id="heading_{{ member.id }}">
                    <h5 class="mb-0">
                        <a class="collapse-header-link" data-toggle="collapse" data-target="#collapse_{{ member.id }}"
                           aria-expanded="true" aria-controls="collapse_{{ member.id }}" href="#collapse_{{ member.id }}">
                            {#<p>{{ answer.question|raw }}</p>#}
                            Участник {{ loop.index }}: {{ member.user.lastName }} {{ member.user.firstName }} {{ member.user.middleName }}
                        </a>
                    </h5>
                </div>
                <div id="collapse_{{ member.id }}" class="collapse" aria-labelledby="heading_{{ member.id }}" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">ФИО</th>
                                <td>{{ member.user.lastName }} {{ member.user.firstName }} {{ member.user.middleName }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Должность</th>
                                <td>{{- member.user.post -}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Пол</th>
                                <td>{% if member.user.sex==1 %}Мужской{% elseif member.user.sex==2 %}Женский{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row">Представитель</th>
                                <td>{% if member.user.representative==1 %}Да{% else %}Нет{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row">Почта</th>
                                <td>{{- member.user.email -}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Телефон</th>
                                <td>{{- member.user.phone -}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Ранний заезд</th>
                                {% if member.arrival == ConferenceOrganization.conference.eventStart %}
                                    <td>Нет</td>
                                {% else %}
                                <td>{{- member.arrival|date('d.m.Y H:i') -}}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row">Поздний выезд</th>
                                {% if member.leaving == ConferenceOrganization.conference.eventFinish %}
                                    <td>Нет</td>
                                {% else %}
                                    <td>{{- member.leaving|date('d.m.Y H:i') -}}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row">Номер автомобиля</th>
                                <td>{{- member.carNumber|default('Нет') -}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Класс участия</th>
                                {% if member.roomType  %}
                                <td>{{- member.roomType.title -}}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row">Стоимость</th>
                                {% if member.roomType  %}
                                <td>{{ member.roomType.cost|number_format(2,'.',' ') }} ₽</td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                        <button
                                type="button"
                                class="btn btn-primary cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mb-20"
                                data-toggle="modal" data-target="#editModal{{ key }}"
                            >
                            Редактировать
                        </button>
                    </div>
                </div>
            </div>
{% endfor %}
    <button
            type="button"
            class="add-another-collection-widget btn u-btn-green cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mb-20"
            data-toggle="modal" data-target="#addModal"
    >
        Добавить участника</button>
    <div>
        Допустиимо {{ ConferenceOrganization.conference.limitUsersByOrg }} участника на конференцию
    </div>
</div>
{% for key,memberForm in currentMemberFormViews %}
    <div class="modal fade" id="editModal{{ key }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование участника конференции</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(memberForm) }}
                <div class="modal-body conference-member">
                    <h3></h3>

                    <div class="row">
                        <div class="col-md-3">{{- form_row(memberForm.user.lastName) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.user.firstName) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.user.middleName) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.user.sex) -}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">{{- form_row(memberForm.user.phone) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.user.email) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.user.post) -}}</div>
                        {#<!--div class="col-md-3" style="padding-top: 37px">{{- form_row(memberForm.user.representative) -}}</div-->#}
                    </div>
                    <div class="row">
                        <div class="col-md-3">{{- form_row(memberForm.arrival,{'data':ConferenceOrganization.Conference.eventStart|date("d.m.Y H:i")}) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.leaving,{'data':ConferenceOrganization.Conference.eventFinish|date("d.m.Y H:i") }) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.carNumber) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.user.newphoto) -}}</div>
                    </div>
                    <div class="row">
                        {#<div class="col-md-6">{{- form_row(memberForm.RoomType) -}}</div>#}
                        <!--div class="col-md-3">{{- form_row(memberForm.neighbourhood) -}}</div-->
                    </div>
                    {{ form_errors(memberForm) }}
                </div>
                <div class="modal-footer">
                    {{ form_row(memberForm.save) }}
                </div>
                {{ form_end(memberForm) }}
            </div>
        </div>
    </div>

{% endfor %}

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавление участника конференции</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body conference-member">
                    <h3></h3>
                    {{ form_start(memberForm) }}

                    <div class="row">
                        <div class="col-md-3">{{- form_row(memberForm.user.lastName) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.user.firstName) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.user.middleName) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.user.sex) -}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">{{- form_row(memberForm.user.phone) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.user.email) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.user.post) -}}</div>
                        <!--div class="col-md-3" style="padding-top: 37px">{{- form_row(memberForm.user.representative) -}}</div-->
                    </div>
                    <div class="row">
                        <div class="col-md-3">{{- form_row(memberForm.arrival,{'data':ConferenceOrganization.Conference.eventStart|date("d.m.Y H:i")}) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.leaving,{'data':ConferenceOrganization.Conference.eventFinish|date("d.m.Y H:i") }) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.carNumber) -}}</div>
                        <div class="col-md-3">{{- form_row(memberForm.user.newphoto) -}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{- form_row(memberForm.RoomType) -}}</div>
                        {#<!--div class="col-md-3">{{- form_row(memberForm.neighbourhood) -}}</div-->#}
                    </div>
                    {{ form_errors(memberForm) }}
                </div>
                <div class="modal-footer">
                    {{ form_row(memberForm.save) }}
                </div>
                {{ form_end(memberForm) }}
            </div>
        </div>
    </div>
    {% if submitted == false %}
        {{ submitted }}
    {% endif %}
    submitted= {{ submitted }}

<h3>Вопрос организатору</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Описание</th>
            <th scope="col">Автор</th>
            <th scope="col">Дата</th>
        </tr>
    </thead>
{% for comment in comments %}
    <tbody>
        <tr>
            <th>#</th>
            <td>{{ comment.content }}</td>
            <td>{{ comment.user.lastName }} {{ comment.user.firstName }} {{ comment.user.middleName }}</td>
            <td>{{ comment.createdAt|date('Y.m.d H:i') }}</td>
        </tr>
    </tbody>
{% endfor %}
</table>
    {{ form_start(form) }}
    {{ form_row(form.content) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>
<script>

    const validateEmail = function () {
        let t = this;

        let data = {
            email: jQuery(t)
                .parents('.conference-member')
                .find('.email')
                .val(),
            conf_id: jQuery('.conf_id')
                .val()
        };

        jQuery.ajax({
            url: "/conference/registration-validate-email",
            data: data
        }).done(function (data) {
            let eml = jQuery(t)
                .parents('.conference-member')
                .find('.email');
            let trg = eml.parent();
            if( data && data.found){
                if(!trg.find('.error').length) {
                    trg.append(
                        jQuery('<span></span>')
                            .addClass('error invalid-feedback d-block')
                    );
                }
                let err = trg.find('.error');
                eml.addClass('is-invalid');
                if (data.found == 'email-invalid') {
                    err.html('<span class="form-error-message">Ошибка формата почты</span>');
                }else {
                    err.html('<span class="form-error-message">Пользователь с такой почтой уже зарегистрирован</span>');
                }
                // jQuery('html, body').animate({
                //     scrollTop: err.offset().top-400
                // }, 1000);

            } else {
                eml.removeClass('is-invalid');
                if(trg.find('.error')) {
                    trg.find('.error').remove();
                    jQuery('.inn').removeClass('is-invalid');
                    jQuery('.kpp').removeClass('is-invalid');
                }
            }
            // $('body').scrollTo('#target');
//        console.log(data.found);
        });
        return false;
    };


    const updateItem = function (item) {
        item.find('.phone').each(function () {
            new IMask(this, {
                mask: [
                    {mask: '{8}(000)000-00-00'},
                    {mask: '+{7}(000)000-00-00'},
                ]
            });
        });

        item.find('.email').on('change', validateEmail);
        // item.find('.select-roomtype').children().each(function () {
        //     let v = jQuery(this).attr("value");
        //     let look = jQuery('#select-proto')
        //         .find('[value=' + v + ']');
        //     if (look.length>0) {
        //         jQuery(this).text(look.first().text());
        //     }
        //     else {
        //         //    console.log(jQuery(this).parent());
        //         jQuery(this).remove();
        //     }
        // });

        item.find('.datetimepicker').datetimepicker({
            locale: 'ru',
            format: 'DD.MM.YYYY HH:mm',
            sideBySide: true,
        });

        item.find('input[type="file"]').on( 'change', function(e){
            var fileName = e.target.files[0]. name;
            var id = jQuery(this).attr('id');
            jQuery(this).parent().find('label[for='+id+']').text(fileName).attr('style','overflow: hidden');
            //alert('The file "' + fileName + '" has been selected.' );
        });
    {% if submitted == -1 %}
        jQuery('#addModal').modal('show');
    {% elseif submitted >= 0 %}
        jQuery('#editModal{{ submitted }}').modal('show');
    {% endif %}
        fixErrorLabels();
    };

    const fixErrorLabels = function () {
        jQuery('.invalid-feedback').each(function () {
            jQuery(this).parent().parent().find('input').first().after(jQuery(this));
            jQuery(this).parent().parent().find('select').first().after(jQuery(this));
        });
    };
</script>
{% endblock %}

{% block stylesheets %}
    <style>
        @font-face {
            font-family: 'Glyphicons Halflings';
            src: url(/assets/fonts/glyphicons-halflings-regular.eot);
            src: url(/assets/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/glyphicons-halflings-regular.woff) format('woff'), url(/assets/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
        }
        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            line-height: 1;

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .glyphicon-chevron-up:before {
            content: "\e113"
        }

        .glyphicon-chevron-down:before {
            content: "\e114"
        }
        .glyphicon-chevron-left:before {
            content: "\e079";
        }
        .glyphicon-chevron-right:before {
            content: "\e080";
        }
    </style>
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
{% endblock %}


{% block javascripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script defer src="https://unpkg.com/imask"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery.each( jQuery('.conference-member'), function(i,el){
            updateItem(jQuery(el));
        });
    });
    </script>

{% endblock %}
