{% extends 'base.html.twig' %}

{% block title %}Конференция Российских Операторов Связи{% endblock %}

{% block header_title %}Регистрация{% endblock %}

{% block page_image %}registration{% endblock %}

{% block body %}
    <h2>Шаг 3 - проверьте информацию</h2>
    <h3>{{ org.name }} <a href="{{ url('profile') }}" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> Редактировать данные компании</a></h3>
    Город: {{ org.city }}<br>
    Телефон: {{ org.username }}<br>
    E-mail: {{ org.email }}<br>
    ИНН: {{ org.inn }}<br>
    КПП: {{ org.kpp }}<br>
    Реквизиты: {{ org.requisites }}<br>
    Адрес: {{ org.address }}<br>
    Комментарий: {{ org.comment }}<br>
    {#{% if org.manager != null %}: {{ org. }}<br>{% endif %}#}

    <h3>Участники {% if useryet < 500 %}<a href="{{ url('registration-2') }}" class="btn btn-success" title="Добавить участника"><i class="glyphicon glyphicon-plus"></i>Добавить</a>{% endif %}</h3>
    {% if useryet < 500 %}{% else %}<span class="text-info">Все места забронированы, но при снятии брони вовремя не оплаченных номеров, места могут освободиться и у Вас появится возможность зарегистрировать участников.</span>{% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Участник</th>
                <th>Данные</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastname }} {{ user.firstname }} {{ user.middlename }}</td>
                <td>
                    Должность: {{ user.post }}<br>
                    Телефон: {{ user.username }}<br>
                    E-mail: {{ user.email }}<br>
                    {% if user.nickname != null %}Nickname: {{ user.nickname }}<br>{% endif %}
                    {% if user.carnumber != null %}Автомобильный номер: {{ user.carnumber }}<br>{% endif %}
                    Класс участия: {% for utoas in user.utoas %}
                        {{ utoas.apartament.apartament.title }} {{ utoas.apartament.apartament.price }}р.
                    {% endfor %}
                </td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('registration-2', {'id':user.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i>  Редактировать</a>
                        <a href="{{ path('profile-member-remove', {'id':user.id}) }}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Удалить</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url('registration-finish') }}" class="btn btn-success"><i class="glyphicon glyphicon-check"></i> Завершить регистрацию</a>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        $('.btn-danger').click(function() {
            result = confirm('Подтвердите удаление участника');
            return result;
        });
    });
</script>
{% endblock %}

{% block stylesheets %}
{% endblock %}


