
<section id="sponsors" class="container-fluid cs-mb-100">
    <div class="container">
        <div class="text-center cs-mx-50">
            <h1 class="text-uppercase cs-line-height-1 cs-font-weight-700 cs-font-size-23 cs-letter-spacincs-0 cs-color-header">
                СПОНСОРЫ
            </h1>
        </div>
        <div id="carouselCus1" class="js-carousel"
             data-infinite="true"
             data-slides-show="6">
            <div class="slick-slide-js">
                <img class="mx-auto cs-width-120" src="{{ asset('assets/cros2/img/parthners/p1.png') }}" alt="Parthners">
            </div>
            <div class="slick-slide-js">
                <img class="mx-auto cs-width-120" src="{{ asset('assets/cros2/img/parthners/p2.png') }}" alt="Image ALT">
            </div>
            <div class="slick-slide-js">
                <img class="mx-auto cs-width-120" src="{{ asset('assets/cros2/img/parthners/p3.png') }}" alt="Image ALT">
            </div>
            <div class="slick-slide-js">
                <img class="mx-auto cs-width-120" src="{{ asset('assets/cros2/img/parthners/p4.png') }}" alt="Image ALT">
            </div>
            <div class="slick-slide-js">
                <img class="mx-auto cs-width-120" src="{{ asset('assets/cros2/img/parthners/p5.png') }}" alt="Image ALT">
            </div>
            <div class="slick-slide-js">
                <img class="mx-auto cs-width-120" src="{{ asset('assets/cros2/img/parthners/p1.png') }}" alt="Parthners">
            </div>
            <div class="slick-slide-js">
                <img class="mx-auto cs-width-120" src="{{ asset('assets/cros2/img/parthners/p2.png') }}" alt="Image ALT">
            </div>
            <div class="slick-slide-js">
                <img class="mx-auto cs-width-120" src="{{ asset('assets/cros2/img/parthners/p3.png') }}" alt="Image ALT">
            </div>
            <div class="slick-slide-js">
                <img class="mx-auto cs-width-120" src="{{ asset('assets/cros2/img/parthners/p4.png') }}" alt="Image ALT">
            </div>
            <div class="slick-slide-js">
                <img class="mx-auto cs-width-120" src="{{ asset('assets/cros2/img/parthners/p5.png') }}" alt="Image ALT">
            </div>
        </div>
    </div>
</section>