{% extends 'Emails/base.html.twig' %}
{% block title %}Спасибо. Ваша заявка принята.{% endblock %}

{% block message %}

	<p>
		<b>Имя:</b> {{ speaker|raw }}
		<br/>
		<b>E-mail:</b> {{ email|raw }}
		<br/>
		<b>Контактный телефон:</b> {{ mobile|raw }}
		<br/><br/>
		<b>Название доклада:</b><br/>{{ title|raw }}
		<br/><br/>
		<b>Тезисы:</b><br/>{{ theses|raw|nl2br }}
	</p>

{% endblock %}
