<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}КРОС-2.0-18 - NAG.ru</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="shop.nag.ru">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap/metisMenu.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap/sb-admin-2.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap/morris.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap/font-awesome.min.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% if is_granted('ROLE_ADMIN') %}{{ path('admin-history') }}{% else %}{{ path('admin-table') }}{% endif %}">КРОС</a>
            <a class="navbar-brand" href="/cms">Новая CMS</a>
            <a class="navbar-brand" href="{{ path('homepage') }}">на сайт</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            {#<li class="dropdown">#}
                {#<a class="dropdown-toggle" data-toggle="dropdown" href="#">#}
                    {#<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>#}
                {#</a>#}
                {#<ul class="dropdown-menu dropdown-messages">#}
                    {#{{ render(controller('App\\Controller\\AdminLogsController:events')) }}#}
                    {#<li>#}
                        {#<a class="text-center" href="{{ path('admin-show-logs') }}">#}
                            {#<strong>Показать все события</strong>#}
                            {#<i class="fa fa-angle-right"></i>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
            <li>
                <a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Выйти</a>
            </li>
        </ul>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    {% if is_granted('ROLE_ADMINISTRATOR') %}
                    <li>
                        <a href="{{ path('admin-history') }}"><i class="fa fa-dashboard fa-fw"></i> Архив</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text-o fa-fw"></i> Текстовые страницы<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ path('admin-text-edit', {'id': 'new'}) }}"><i class="fa fa-plus fa-fw"></i> Добавить</a>
                            </li>
                            {{ render(controller('App\\Controller\\TextController:text')) }}
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-support fa-fw"></i> FAQ<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ path('admin-faq') }}"><i class="fa fa-question fa-fw"></i> Вопросы и ответы</a>
                            </li>
                            <li>
                                <a href="{{ path('admin-faq-text') }}"><i class="fa fa-file-text-o fa-fw"></i> Дополнительный текст</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users fa-fw"></i> Участники<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                               <a href="{{ path('admin-managers') }}"><i class="fa fa-user-secret fa-fw"></i> Менеджеры</a>
                            </li>
                            <li>
                                <a href="{{ path('admin-speakers') }}"><i class="fa fa-wechat fa-fw"></i> Докладчики</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('admin-badges') }}"><i class="fa fa-tag fa-fw"></i> Бейджи</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('admin-table', {'year':'now'|date('Y')}) }}"><i class="fa fa-table fa-fw"></i> Сводная таблица</a>
                        <a href="{{ path('admin-table2', {'year':'now'|date('Y')}) }}"><i class="fa fa-table fa-fw"></i>CSV</a>
                    </li>
                    {% if is_granted('ROLE_ADMINISTRATOR') %}
                    <li>
                        <a href="{{ path('downloads') }}"><i class="fa fa-download fa-fw"></i> Загрузки</a>
                    </li>
                    <li>
                        <a href="{{ path('admin-lectures') }}"><i class="fa fa-paragraph fa-fw"></i> Расписание докладов</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMINISTRATOR') %}
                        <li>
                            <a href="{{ path('admin-registered') }}"><i class="fa fa-list-alt fa-fw"></i>Пользователи</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div id="page-wrapper">
            {% block body %}{% endblock %}
    </div>

    <div id="remove-confirm-txt" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Подтвердите удаление</h4>
                </div>
                <div class="modal-body">
                    <p>Вы точно хотите удалить текстовую страницу?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-ok" data-dismiss="modal">Удалить</button>
                    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>

<script src="{{ asset('assets/js/bootstrap/metisMenu.min.js') }}"></script>

<script src="{{ asset('assets/js/bootstrap/raphael.min.js') }}"></script>

<script src="{{ asset('assets/js/bootstrap/sb-admin-2.js') }}"></script>

<script>
    var link_for_remove = false;
    $('.remove-txt').on('click', function(e){
        e.preventDefault();
        link_for_remove = $(this).attr('href');
        $('#remove-confirm-txt').modal();
    });

    $('.btn-ok').on('click', function () {
        window.location = link_for_remove;
    });

    $('.btn-cancel').on('click', function () {
        link_for_remove = false;
    });
</script>

{% block javascripts %}{% endblock %}
</body>
</html>
