<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Title -->
    <title>{% block title %}{% endblock %} - Конференция Российских Операторов Связи {{ "now"|date("Y") }} - NAG.ru</title>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="shop.nag.ru">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
     <link rel="shortcut icon" href="/favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/cros/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/cros/icon-awesome/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/cros/hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/cros/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/cros/slick-slider/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/lightbox.min.css') }}">
    {# <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"> #}
    <!-- CSS Template -->
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/css/bases.css?t=20180313') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/css/megamenu.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/css/light-blue.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cros2/assets/css/custom.css?t=2019020802') }}">

    <meta name="theme-color" content="#737373">
    <link rel="icon" sizes="192x192" href="{{ asset('temp/cros-logo_192px.png') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<main>
    <!-- Header -->
    <header id="js-header" class="u-header u-header--static u-header--floating cs-transition-0_3"
            data-header-fix-moment-classes="cs-bg-white">
        <div class="container">
            <div class="u-header__section u-header__section--light cs-bg-white"
                 {#data-header-fix-moment-exclude="cs-bg-white"#} >
                <nav class="navbar navbar-expand-lg cs-py-0 cs-font-weight-300">
                    <div class="container">
                        <!-- Logo -->
                        <a href="{{ path('homepage') }}" class="navbar-brand u-header__logo">
                            <img class="u-header__logo-img u-header__logo-img--original u-header__logo-img--main d-block cs-width-80x" src="{{ asset('assets/images/logo_400.png') }}" alt="CROS-2019 Logo"
                                 data-header-fix-moment-exclude="d-block"
                                 data-header-fix-moment-classes="d-none">
                            <!-- Temporary fix -->
                            <img class="u-header__logo-img u-header__logo-img--main d-none cs-width-80x" src="{{ asset('assets/cros2/img/layer_height.png') }}" alt="CROS-2019 Logo"
                                 data-header-fix-moment-exclude="d-none"
                                 data-header-fix-moment-classes="d-block">
                        </a>
                        <!-- End Logo -->

                        <!-- User menu -->
                        <div class="d-flex align-items-center d-lg-none">
                            {% if is_granted('ROLE_ORG') %}
                                <div class="login-v1">
                                    <a href="{{ path('registration-3') }}" class="cs-py-5 cs-font-size-11 cs-font-weight-700" style="background:#5c97bf;padding:5px;border-radius:20px;color:white;">
                                        &nbsp;<i class="fa fa-key"></i>&nbsp;&nbsp;ЛИЧНЫЙ КАБИНЕТ&nbsp;
                                    </a>
                                </div>
                            {% endif %}
                            {% if is_granted('ROLE_CMS_USER') %}
                                <div class="login-v1">
                                    <a href="/cms" class="cs-py-5 cs-font-size-11 cs-font-weight-700" style="background:#5c97bf;padding:5px;border-radius:20px;color:white;">
                                        &nbsp;<i class="fa fa-key"></i>&nbsp;&nbsp;CMS&nbsp;
                                    </a>
                                </div>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <style>
                                    .logout-btn {
                                        margin-left: 10px;
                                    }
                                    .logout-btn a {
                                        background: #5c97bf;
                                        padding: 0px 6px;
                                        border-radius: 20px;
                                        color: white;
                                        white-space: nowrap;
                                    }
                                    .logout-btn a:hover {
                                        background: #e37886;
                                    }
                                </style>
                                <div class="logout-btn">
                                    <a title="Выход" href="{{ path('logout') }}" class="cs-py-5 cs-font-size-14 cs-font-weight-700">
                                        &nbsp;<i class="fa fa-sign-out"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <!-- End User menu -->

                        <div class="sub-menu collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
                            <ul id="js-scroll-nav" class="u-main-nav-v1 navbar-nav text-uppercase cs-font-weight-700 cs-font-size-11 cs-pt-20 cs-pt-0--lg ml-auto mr-lg-3">
                                <li class="nav-item cs-mr-15--lg cs-mb-7 cs-mb-0--lg d-lg-none d-xl-block">
                                    <a href="{{ path('homepage') }}" class="nav-link cs-py-5">Главная</a>
                                </li>
                                <li class="nav-item cs-has-sub-menu cs-mx-20--lg">
                                    <a href="#" class="nav-link cs-py-5" id="nav-link-1"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       aria-controls="nav-submenu-1"
                                    ><span class="d-lg-none d-xl-inline"> О Крос</span></a>
                                    <!-- Submenu -->
                                    <ul class="cs-sub-menu list-unstyled cs-mt-20 cs-mt-10--lcs--scrolling u-shadow-v18 cs-font-weight-700 cs-font-size-12" id="nav-submenu-1"
                                        aria-labelledby="nav-link-2">
                                        <li class="dropdown-item p-0"><a class="nav-link-2 py-3 px-5 rounded-0 d-block" href="{{ path('info', {'alias': 'targets'}) }}">Что такое КРОС</a></li>
                                        <li class="dropdown-item p-0"><a class="nav-link-2 py-3 px-5 rounded-0 d-block" href="{{ path('info', {'alias': 'organize'}) }}">Место проведения</a></li>
                                        <li class="dropdown-item p-0"><a class="nav-link-2 py-3 px-5 rounded-0 d-block" href="{{ path('info', {'alias': 'sponsors'}) }}">Спонсоры</a></li>
                                        <li class="dropdown-item p-0"><a class="nav-link-2 py-3 px-5 rounded-0 d-block" href="{{ path('speakers', {'year': '2018'}) }}">Спикеры</a></li>
                                    </ul>
                                    <!-- End Submenu -->
                                </li>
                                <li class="nav-item cs-has-sub-menu cs-mx-20--lg">
                                    <a href="#" class="nav-link cs-py-5" id="nav-link-1"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       aria-controls="nav-submenu-1"
                                    >Участие<span class="d-lg-none d-xl-inline"> в КРОС</span></a>
                                    <!-- Submenu -->
                                    <ul class="cs-sub-menu list-unstyled cs-mt-20 cs-mt-10--lcs--scrolling u-shadow-v18 cs-font-weight-700 cs-font-size-12" id="nav-submenu-1"
                                        aria-labelledby="nav-link-2">
                                        {#<li class="dropdown-item p-0"><a class="nav-link-2 py-3 px-5 rounded-0 d-block" href="{{ path('members') }}">Участники</a></li>#}
                                        <li class="dropdown-item p-0"><a class="nav-link-2 py-3 px-5 rounded-0 d-block" href="{{ path('price') }}">Стоимость участия</a></li>
                                        <li class="dropdown-item p-0"><a class="nav-link-2 py-3 px-5 rounded-0 d-block" href="{{ path('registration') }}">Регистрация</a></li>
                                        {#<li class="dropdown-item p-0"><a class="nav-link-2 py-3 px-5 rounded-0 d-block" href="{{ path('program') }}">Программа</a></li>#}
                                    </ul>
                                    <!-- End Submenu -->
                                <li class="nav-item cs-mx-15--lg cs-mb-7 cs-mb-0--lg">
                                    <a href="{{ path('faq') }}" class="nav-link cs-py-5">FAQ</a>
                                </li>
                                <li class="nav-item cs-mx-15--lg cs-mb-7 cs-mb-0--lg">
                                    <a href="{{ path('archive') }}" class="nav-link cs-py-5">Архив</a>
                                </li>
                                </li>
                            </ul>
                        </div>
                        <!-- End Navigation --><!-- User menu -->
                        <div class="d-none align-items-center d-lg-flex">
                            {% if is_granted('ROLE_ORG') %}
                                <div class="login-v1">
                                    <a href="{{ path('registration-3') }}" class="cs-py-5 cs-font-size-11 cs-font-weight-700" style="background:#5c97bf;padding:5px;border-radius:20px;color:white;">
                                        &nbsp;<i class="fa fa-key"></i>&nbsp;&nbsp;ЛИЧНЫЙ КАБИНЕТ&nbsp;
                                    </a>
                                </div>
                            {% endif %}
                            {% if is_granted('ROLE_CMS_USER') %}
                                <div class="login-v1">
                                    <a href="/cms" class="cs-py-5 cs-font-size-11 cs-font-weight-700" style="background:#5c97bf;padding:5px;border-radius:20px;color:white;">
                                        &nbsp;<i class="fa fa-key"></i>&nbsp;&nbsp;CMS&nbsp;
                                    </a>
                                </div>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <style>
                                    .logout-btn {
                                        margin-left: 10px;
                                    }
                                    .logout-btn a {
                                        background: #5c97bf;
                                        padding: 0px 6px;
                                        border-radius: 20px;
                                        color: white;
                                        white-space: nowrap;
                                    }
                                    .logout-btn a:hover {
                                        background: #e37886;
                                    }
                                </style>
                                <div class="logout-btn">
                                    <a title="Выход" href="{{ path('logout') }}" class="cs-py-5 cs-font-size-14 cs-font-weight-700">
                                        &nbsp;<i class="fa fa-sign-out"></i>
                                    </a>
                                </div>
                            {% endif %}
                            {% if not app.user %}
                                <div class="cs-font-weight-700 cs-font-size-11 text-uppercase d-inline-block cs-pos-rel">
                                    {{ render(path('login')) }}
                                </div>
                            {% endif %}
                        </div>
                        <!-- End User menu -->
                    </div>
                    <!-- Responsive Toggle Button  cs-mt-15 ml-auto mr-auto-->
                    <button class="navbar-toggler btn cs-line-height-1 cs-brd-none cs-pa-0 cs-pos-abs dropdown-menu-right cs-px-20 cs-py-20" type="button"
                            aria-label="Toggle navigation"
                            aria-expanded="false"
                            aria-controls="navBar"
                            data-toggle="collapse"
                            data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                </nav>
            </div>
        </div>
        </div>
    </header>
    <!-- End Header -->
    <section class="cs-bcs-images cs-color-white cs-pos-rel cs-pt-50 cs-pb-30 cs-mb-50 cs-theme-bg-blue-dark-v2 cs-bg-img-layer-middle-bottom" style="background-image: url({{ asset('assets/cros2/img/blue_bg_middle.png') }});">
        <div class="container cs-flex-middle-item cs-pt-50">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="cs-color-white cs-font-weight-700 cs-font-size-40 mt-2" id="Title">
                        {% block header_title %}КРОС-2019{% endblock %}
                    </h3>
                    <!--
                    <div class="d-block cs-color-white-opacity-0_8 cs-font-size-16 mb-4"><strong>Пример внутренней страницы</strong> - <br /> <span>Информация для участников</span></div>
                    -->
                    {#<a class="btn u-btn-green cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15" href="{{ path('program') }}" id="TitleBotton">Программа КРОС</a>#}
                </div>
                <div class="col-md-6 text-right align-middle">
                    <div class="text-right" style="max-width: 360px;margin-left: auto;">
                        {{ render(controller('App\\Controller\\Site\\DefaultController:countdown')) }}
                    </div>
                    <a class="btn u-btn-green cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15" href="{{ path('registration') }}">Принять участие</a>
                    <a class="btn u-btn-darkblue cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15" href="{{ path('info', {'alias': 'become-speaker'}) }}">Стать докладчиком</a>
                    <a class="btn u-btn-yellow cs-color-white cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15" href="{{ path('info', {'alias': 'become-sponsor'}) }}">Стать спонсором</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Content -->
    <section class="container-fluid cs-mb-100">
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </section>
    <!-- End Section Content -->
    <!-- Footer -->
    {% include 'cros2/misc/footer.html.twig' %}
    <!-- End Footer -->
    <a class="js-go-to u-go-to-v1" href="#"
       data-type="fixed"
       data-position='{
            "bottom": 15,
            "right": 15
            }'
       data-offset-top="400"
       data-compensation="#js-header"
       data-show-effect="zoomIn">
        <i class="fa fa-angle-up"></i>
    </a>
</main>
<!-- JS Global Compulsory -->
<script src="//www.google.com/recaptcha/api.js?hl={{ app.request.locale }}"></script>
<script src="{{ asset('assets/cros2/assets/cros/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/cros/jquery-migrate/jquery-migrate.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/cros/jquery.easing/js/jquery.easing.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/cros/tether/tether.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/cros/bootstrap/bootstrap.min.js?t=20180313') }}"></script>
<script src="{{ asset('assets/cros2/assets/cros/jquery.countdown.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/cros/slick-slider/slick.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/core.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/tabs_mobile.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/header.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/hamburgers.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/countdown.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/go-to.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/carousel.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/components/megamenu.min.js') }}"></script>
<script src="{{ asset('assets/cros2/assets/js/add-collection-widget.js') }}"></script>
<script src="{{ asset('assets/js/spoiler.js') }}"></script>
{% block javascripts %}{% endblock %}
<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // init of tabs
        $.MainCore.components.B4Tabs.init('[role="tablist"]');
        // init of carousel
        $.MainCore.components.SCCarousel.init('.js-carousel');
        $('#carouselCus1').slick('setOption', 'responsive', [{
            breakpoint: 768,
            settings: {
                slidesToShow: 2
            }
        }], true);
    });
    $(window).on('load', function () {
        handleLogin();
        // Search Box (Header)
        function handleLogin() {
            jQuery('.login-link').on("click", function () {
                if(jQuery('.login-btn').hasClass('fa-key')){
                    jQuery('.login-open').fadeIn(500);
                    jQuery('.login-btn').removeClass('fa-key');
                    jQuery('.login-btn').addClass('fa-times');
                } else {
                    jQuery('.login-open').fadeOut(500);
                    jQuery('.login-btn').addClass('fa-key');
                    jQuery('.login-btn').removeClass('fa-times');
                }
            });
        }
        //microfix for to navbar
        /*$(".navbar-toggler").on('click', function () {
            if ($("#navBar").hasClass("show")) {
                $("#navBar").removeClass("show");
            } else {
                $("#navBar").addClass("show");
            }
        });*/
        // init of countdowns
        var countdowns = $.MainCore.components.HSCountdown.init('.js-countdown', {
            yearsElSelector: '.js-cd-years',
            monthElSelector: '.js-cd-month',
            daysElSelector: '.js-cd-days',
            hoursElSelector: '.js-cd-hours',
            minutesElSelector: '.js-cd-minutes',
            secondsElSelector: '.js-cd-seconds'
        });
        // init of header
        $.MainCore.components.HSHeader.init($('#js-header'));
        $.MainCore.helpers.HSHamburgers.init('.hamburger');

        // init of go to section
        $.MainCore.components.HSGoTo.init('.js-go-to');
        // init of  component
        $('.sub-menu').SubMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });
    });
    $(window).on('resize', function () {
        if ( $('.nav-item').hasClass('active') ) {
            $('.nav-item').removeClass('active');
        }
        setTimeout(function () {
            $.MainCore.components.B4Tabs.init('[role="tablist"]');
        }, 200);
    });
</script>

{% if app.environment == 'prod' %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter48079550 = new Ya.Metrika({
                        id:48079550,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/48079550" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-749542-17"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-749542-17');
    </script>
{% endif %}

</body>
</html>
