

<footer class="text-center cs-bg-primary_block">
    <div class="container">
        <div class="row text-left cs-pt-100">
            <div class="col-sm-6 col-lg-3 cs-mb-30 text-center">
                <a class="d-inline-block mb-4" href="#">
                    <img class="u-footer__logo-img" src="{{ asset('assets/images/logo.png') }}" alt="Image Description">
                </a><br/>
                <ul class="list-inline d-inline-block mb-0">
                    <li class="list-inline-item cs-mr-10">
                        <a class="u-icon-social cs-width-35 cs-height-35 cs-font-size-14 cs-color-white--hover cs-bg-white cs-bg-primary--hover cs-transition-0_2 cs-transition--ease-in" target="_blank" href="https://t.me/cros2017"><i class="fa fa-telegram"></i></a>
                    </li>
                    <li class="list-inline-item cs-mr-10">
                        <a class="u-icon-social cs-width-35 cs-height-35 cs-font-size-14 cs-color-white--hover cs-bg-white cs-bg-primary--hover cs-transition-0_2 cs-transition--ease-in" target="_blank" href="https://www.facebook.com/groups/cros.nag/"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
                <!-- <p class="cs-color-gray-dark-v4 cs-font-size-13">2017 © All Rights Reserved.</p> -->
            </div>
            <div class="col-sm-6 col-lg-3 cs-mb-30">
                <!-- Links -->
                <ul class="list-unstyled cs-color-lightblue-v1 cs-font-weight-600 cs-font-size-14 text-uppercase ">
                    <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                        <a class="u-link-v5 cs-color-lightblue-v1 cs-font-weight-600 cs-color-primary--hover" href="{{ path('registration') }}">Регистрация</a>
                    </li>
                    <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                        <a class="u-link-v5 cs-color-lightblue-v1 cs-font-weight-600 cs-color-primary--hover" href="{{ path('price') }}">Стоимость участия</a>
                    </li>
                    <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                        <a class="u-link-v5 cs-color-lightblue-v1 cs-font-weight-600 cs-color-primary--hover" href="{{ path('info', {'alias': 'organize'}) }}">Место проведения</a>
                    </li>
                </ul>
                <!-- End Links -->
            </div>
            <div class="col-sm-6 col-lg-3 cs-mb-30 ">
                <!-- Links -->
                <ul class="list-unstyled cs-color-lightblue-v1 cs-font-weight-600 cs-font-size-14 text-uppercase ">
                    <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                        <a class="u-link-v5 cs-color-lightblue-v1 cs-font-weight-600 cs-color-primary--hover" href="{{ path('info', {'alias': 'sponsors'}) }}">Спонсоры</a>
                    </li>
                    <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                        <a class="u-link-v5 cs-color-lightblue-v1 cs-font-weight-600 cs-color-primary--hover" href="{{ path('program') }}">Программа</a>
                    </li>
                    {#<li class="my-3"><i class="mr-2 fa fa-angle-right"></i>#}
                        {#<a class="u-link-v5 cs-color-lightblue-v1 cs-font-weight-600 cs-color-primary--hover" href="{{ path('members') }}">Участники</a>#}
                    {#</li>#}
                    <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                        <a class="u-link-v5 cs-color-lightblue-v1 cs-font-weight-600 cs-color-primary--hover" href="{{ path('privacy') }}">Политика обработки ПД</a>
                    </li>
                </ul>
                <!-- End Links -->
            </div>
            <div class="col-sm-6 col-lg-3 cs-mb-30">
                <!-- Links -->
                <ul class="list-unstyled cs-color-lightblue-v1 cs-font-weight-600 cs-font-size-14 text-uppercase ">
                    <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                        <a class="u-link-v5 cs-color-lightblue-v1 cs-font-weight-600 cs-color-primary--hover" href="{{ path('info', {'alias': 'targets'}) }}">О КРОС</a>
                    </li>
                    <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                        <a class="u-link-v5 cs-color-lightblue-v1 cs-font-weight-600 cs-color-primary--hover" href="{{ path('faq') }}">FAQ</a>
                    </li>
                    <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                        <a class="u-link-v5 cs-color-lightblue-v1 cs-font-weight-600 cs-color-primary--hover" href="{{ path('archive') }}">Архив</a>
                    </li>
                </ul>
                <!-- End Links -->
            </div>
        </div>
        <div class="cs-py-10 cs-color-gray-dark-v5">
            <p class="cs-mb-30 cs-font-size-13">&copy; 2013-2018 Общество с ограниченной ответственностью “Наг”. Все права защищены.</p>
        </div>
    </div>
</footer>