{% extends 'base.html.twig' %}

{% block title %}Конференция Российских Операторов Связи{% endblock %}

{% block text_image %}_organize{% endblock %}

{% block header_title %}Стать спонсором{% endblock %}

{% block stylesheets %}{% endblock %}


{% block body %}

	{% if form %}
		<h2>Описание партнерских пакетов и дополнительных возможностей</h2>

		<p>
			Спонсоры КРОС получают отличную возможность представить свою компанию и свои решения на крупнейшей конференции для операторов связи в России:<br/>
			- Целевая аудитория: более 650 участников<br/>
			- Интересная деловая программа: 6 тематических секций<br/>
			- Выставка решений и оборудования: 2 шоу-рум<br/>
			- Размещение краткой информации о партнере в каталоге выставки<br/>
			- Интернет аудитория nag.ru: регулярные e-mail рассылки и публикации по мероприятию среди постоянной аудитории портала nag.ru
		</p>

		<table class="table">
			<thead>
				<tr>
					<th scope="row">&nbsp;</th>
					<th scope="col">
					<p dir="ltr">Золотой партнер</p>
					</th>
					<th scope="col">
					<p dir="ltr">Серебряный партнер</p>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">
						<p dir="ltr">Общее количество пакетов</p>
					</th>
					<td style="text-align:center">3</td>
					<td style="text-align:center">7</td>
				</tr>
				<tr>
					<th scope="row">
					<p dir="ltr">Круглый стол партнера с участниками в рамках деловой секции (1 час)</p>
					</th>
					<td style="text-align:center">+</td>
					<td style="text-align:center">&nbsp;</td>
				</tr>
				<tr>
					<th scope="row">
					<p dir="ltr">Организация event-мероприятия от лица спонсора</p>
					</th>
					<td style="text-align:center">+</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th scope="row">
					<p dir="ltr">Размещение стенда/оборудования в экспозиции show-room</p>
					</th>
					<td style="text-align:center">+</td>
					<td style="text-align:center">+</td>
				</tr>
				<tr>
					<th scope="row">
					<p dir="ltr">Размещение roll-up, предоставленного спонсором в конференц-зале</p>
					</th>
					<td style="text-align:center">+</td>
					<td style="text-align:center">+</td>
				</tr>
				<tr>
					<th scope="row">
					<p dir="ltr">Размещение логотипа патрнера в программе мероприятия</p>
					</th>
					<td style="text-align:center">+</td>
					<td style="text-align:center">+</td>
				</tr>
				<tr>
					<th scope="row">
					<p dir="ltr">Аккредитация и размещение 2-х представителей Партнера на Конференции (двухместное размещение категории СТАНДАРТ+)</p>
					</th>
					<td style="text-align:center">+</td>
					<td style="text-align:center">+</td>
				</tr>
				<tr>
					<th scope="row">
					<p dir="ltr">Стоимость пакета</p>
					</th>
					<td style="text-align:center">750 000</td>
					<td style="text-align:center">350 000</td>
				</tr>
			</tbody>
		</table>

		<h2>Заполните форму</h2>

		{{ form_start(form) }}


        {{ form_row(form.company) }}
        {{ form_row(form.email) }}
        {{ form_row(form.mobile) }}
        {{ form_row(form.recaptcha) }}


        {{ form_row(form.send) }}

		{{ form_end(form) }}

	{% endif %}

	{% if data %}
		<h2>Спасибо! Ваша заявка принята!</h2>
	{% endif %}

{% endblock %}


{% block javascripts %}{% endblock %}
